:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
}

body {
    font-family: "Raleway";
    font-family: "Roboto";
    background-color: #E5E5E5;
    color: var(--secondary-text-color);
}

header {
    background-color: #fff;
}

.logo-color {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    color: var(--accent-text-color);
}

.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    color: #000;
}

.list {
    list-style: none;
    
}

/* site-nav; auth-nav */

.site-nav a {
    color: var(--primary-text-color);
}
.site-nav .link:hover {
    color: var(--accent-text-color);
}

.auth-nav a {
    color: var(--secondary-text-color);
}
.auth-nav .link:hover {
    color: var(--accent-text-color);
}

/* hero */

.hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    background-color: #2F303A;
    color: #fff;
}

/* section */
.section-title {
    font-family: "Robot";
    font-style: normal;
    font-weight: 700;
    color: var(--primary-text-color);
}

.features .title {
    color: var(--primary-text-color);
}

/* Наша команда */

.team {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        color: var(--primary-text-color);
}

.team-list .team {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: var(--secondary-text-color);
}

/* text */

.text {
    color: #E5E5E5;
}
/* button */
.button {
  background-color: var(--accent-text-color);
  color: #fff;  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
